
/*Reset CSS*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
}

/*Font*/
body{
    font-family: Helvetica, sans-serif;
}


/*Header*/
h1{
    background-image: url(./pictures/pattern.webp);
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    position: relative;
    top: 50px;
    margin: 15px;
}


/*Main */
/*Center the page in a white frame*/
main{
    position: relative;
    top: 120px; 
    padding: 15px;
}

/*Enhance the prices*/
em{
    font-weight: bold;
    color: blue;
}

/*Items alignment*/
main img{
    margin-top: 15px;
}

p{
    margin-top: 15px;
}

/*Styling the subsections*/
h3{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-top: 15px;
}


/*Section Titles*/
/*First section - Brushes*/
#brushes h2{
    background-color: mediumspringgreen;
    font-size: 32px;
    font-weight: bold;
    color: white;
}


/*Second section - Frames*/
#frames h2{
    background-color: lightcoral;
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
}


/*Third section - Paint*/
#paint h2{
    background-color: skyblue;
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
    
}

